################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/LIS598ThesaurusViewer/FileContentIndex
/.vs/LIS598ThesaurusViewer/CopilotIndices/0.2.1634.3922
/.vs
